.register-form
{
    position: relative;
}
.textfield
{
    font-family: 'Montserrat', sans-serif;
    background-color: #fd0; /* Green */
    color: #000000;
    position: relative;
    left: 30px;
    border: 3px solid #666; /* Параметры рамки */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0d000; /* Green */
    border: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* Убираем отступы */
}
.parent {
    margin: 20%; /* Отступы вокруг элемента */
    background: #fd0; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}
.child {
    border: 3px solid #666; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
}