a:link {
    text-decoration: none;
    color: brown
  }
  
  a:visited {
    text-decoration: none;
    color: brown
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
textarea{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    resize: none;
    overflow: auto;
}
.post
{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
    border: 3px solid #666; /* Параметры рамки */
    white-space: pre-line;
}

.text
{
    margin-left: 40px;
    margin-right: 40px;
    
}